/* Header.css */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #B29BD1;
    max-height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: -webkit-fill-available;
    background-color: #ffffff;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-family: Arial, sans-serif;
}

.logo img {
    max-height: 50px;
    object-fit: contain;
    margin-right: 10px;
}

.logo-link {
    text-decoration: none;
}

.travelmon {
    text-transform: uppercase;
}

.travel,
.mon {
    font-size: 1.75em;
}

.travel {
    color: #58258E;
}

.mon {
    color: #926EB8;
}

.travel .initial,
.mon .initial {
    font-size: 1.5em;
    font-weight: 500;
}

.travel .rest,
.mon .rest {
    font-weight: 900;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links > * {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    color: #000;
    white-space: nowrap;
    font-size: 16px;
}

.account-buttons {
    display: flex;
    gap: 10px;
}

.nav-links .account-buttons button {
    padding: 8px 12px;
    font-size: 16px;
    transition: background-color 0.3s;
    &.btn-gray {
        background-color: #ccc;
        color: #000;
        
        &:hover {
            background-color: #AAAAD4;
        }
    }
}

.nav-icon {
    cursor: pointer;
}

.language-selector {
    position: relative;
    height: 34px;
}

.language-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    z-index: 100;
    padding: 8px;
    border-radius: 4px;
}

.btn-dropdown {
    display: block;
    background: none;
    padding: 4px 8px;
    font-size: 13px;
    color: #000;
    text-align: left;
    white-space: nowrap;
    width: 100%;
    transition: background-color 0.3s;
    &:hover {
        background-color: #AAAAD4;
    }
    &.active {
        font-weight: bold;
    }
}


.profile-menu-trigger {
    position: relative;
    cursor: pointer;
}

.profile-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    z-index: 100;
    padding: 15px 8px 8px 8px;
    border-radius: 4px;
}

.nav-link.btn-logout {
    background: none;
    padding: 4px 8px;
    font-size: 12px;
    text-align: left;
    width: 100%;
    color: #000;
    transition: background-color 0.3s;
    &:hover {
        background-color: #AAAAD4;
    }
}

.nav-link.btn-logout:hover {
    background-color: #f2f2f2;
}
