body, input, textarea, button {
  font-family: 'Montserrat', sans-serif;
}

.full-content {
  margin-top: 70px;
  min-height: calc(100vh - 50px);
  padding: 30px 150px;
}

.icon {
  width: 14px;
  background-color: lightgray;
  padding: 10px;
  border-radius: 5px;
}
